
.seller-dashboard-container{
    border: 2px solid red;
    width: 100%;
    height: 600px;
    background-color: #BB92E9;
}
.listing-column {
    overflow-y: auto;
    max-width: 550px;
  }
  .progress-section {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    background-color: #BB92E9;
  }
  
  .progress-bar {
    display: flex; /* Use Flexbox for layout */
    justify-content: space-between; /* Space items evenly */
    align-items: flex-end; /* Align items at the bottom */
    width: 100%;
  }


.desktop-dashboard {
    border: 0px solid black;
    width: 100vw;
    height: 100%;
    background-color: #BB92E9;
    display: flex;
}
.media-count {
    margin-left: 5px;    
    display: flex;
}
.add-media {
    margin-left: 5px;
    display: flex;
    gap: 1px;
}
.add-photo-button, .add-video-button {
    width: 150px;
    height: 150px;
    display: inline;
}
.required-section {
    display: block;
}
.description-tip {
    display: block;
    text-indent: 1px;
}
.preview-container {
    display: flex;
}
.preview-section {
    background: black;
}
.preview-h1, .preview-h3 {
    color: white;
}
.listing-header {
    display: flex;
}
.listing-section {
    align-items: right;
}
.seller-input-form {
    width: 280px;
    height: 150px;
}

.add-photos-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    font-size: 20px;
    border: 1px solid black;
    background-color: white;
}

.dashboard-title-container{
    display: flex;
    justify-content: space-between;
}

.dashboard-title{
    font-size: 20px;
    margin: 20px;
    margin-top: 5px;
    border-radius: 3%;
    padding: 2px;
}

.save-draft-button{
    background-color: lightblue;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5%;
    padding: 5px;
    height: 40px;

}
.add-photos-button-container-container{
    display: flex;
    justify-content: center;
}

.dashboard-website-name{
    display: flex;
    margin: 10px;
    font-size: 15px;
}

.required-forms-container{
    display: flex;
    margin: 10px;
    font-size: 20px;
}
.listing-section {
    text-align: left;
    margin-left: 5px;
}
.seller-input-form{
    background-color: white;
    border: 1px solid black;
    color: black;
    height: 40px;
    margin: 5px;
    text-align: left;
}

.seller-input-container{
    display: flex;
    flex-direction: column;
}